<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color:white;">HSH Property Manager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
    aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <!-- <a class="nav-link" (click)="onOpenModal(null, 'add')">Add Property <span class="sr-only">(current)</span></a> -->
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input type="search" (ngModelChange)="searchProperties(key.value)" #key="ngModel" ngModel name="key"
        id="searchName" class="form-control mr-sm-2" placeholder="Search property..." required>
    </form>
  </div>
</nav>
<div class="container" id="main-container">
  <div class="row">
    <div *ngFor="let property of properties" class="col-md-6 col-xl-3">
      <div class="card m-b-30">
        <div class="card-body row">
          <div class="col-6 card-title align-self-center mb-0">
            <h5>Issue</h5>
            <!-- To add issue reported by tenant -->
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Description Issue: {{property?.address}}</li>
          <li class="list-group-item">Date Issue: {{property?.address}}</li>
          <li class="list-group-item">Address: {{property?.address}}</li>
          <li class="list-group-item">Number: {{property?.number}}</li>
          <li class="list-group-item">District : {{property?.district}}</li>
          <li class="list-group-item">Postal Code : {{property?.postalCode}}</li>
          <li class="list-group-item">Description Property: {{property?.description}}</li>
          <li class="list-group-item">N° Contract : {{property?.postalCode}}</li>
          <li class="list-group-item">Tenant : Ms. Vershub </li>
          <!-- to add tenant's fullname -->
          <li class="list-group-item">Supplier asigned: Mr. Smith </li>
          <!-- to add provider -->
          <li class="list-group-item">Status: in progress </li>
          <!-- to add status -->
        </ul>
        <div class="card-body">
          <div class="float-right btn-group btn-group-sm">
            <a (click)="onOpenModal(property, 'edit')" class="btn btn-primary tooltips" data-placement="top"
              data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
            <a (click)="onOpenModal(property, 'delete')" class="btn btn-secondary tooltips" data-placement="top"
              data-original-title="Delete"><i class="fa fa-times"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Add property Modal -->
  <div class="modal fade" id="addPropertyModal" tabindex="-1" role="dialog" aria-labelledby="addPropertyModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addPropertyModalLabel">Add Property</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddProperty(addForm)">
            <div class="form-group">
              <label for="address">Address</label>
              <input type="text" ngModel name="address" class="form-control" id="address" placeholder="Address"
                required>
            </div>
            <div class="form-group">
              <label for="number">Number</label>
              <input type="number" ngModel name="number" class="form-control" id="number" placeholder="Number" required>
            </div>
            <div class="form-group">
              <label for="district">District</label>
              <input type="text" ngModel name="district" class="form-control" id="district" placeholder="District"
                required>
            </div>
            <div class="form-group">
              <label for="phone">Postal Code</label>
              <input type="number" ngModel name="postalCode" class="form-control" id="postalCode"
                placeholder="Postal Code" required>
            </div>
            <div class="form-group">
              <label for="district">Description Property</label>
              <input type="text" ngModel name="description" class="form-control" id="description"
                placeholder="Description" required>
            </div>            
            <div class="modal-footer">
              <button type="button" id="add-property-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Save
                changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit Modal -->
  <div class="modal fade" id="updatePropertyModal" tabindex="-1" role="dialog" aria-labelledby="propertyEditModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <!-- <h5 class="modal-title" id="updatePropertyModalLabel">Edit Property {{editProperty?.address}}</h5> -->
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #editForm="ngForm">
            <div class="form-group">
              <label for="name">Address</label>
              <input type="text" ngModel="{{editProperty?.address}}" name="address" class="form-control" id="address"
                aria-describedby="address" placeholder="Address">
            </div>
            <div class="form-group">
              <label for="number">Number</label>
              <input type="email" ngModel="{{editProperty?.number}}" name="number" class="form-control" id="number"
                placeholder="Number">
            </div>
            <div class="form-group">
              <label for="phone">District</label>
              <input type="text" ngModel="{{editProperty?.district}}" name="district" class="form-control" id="district"
                placeholder="District">
            </div>
            <div class="form-group">
              <label for="phone">Postal Code</label>
              <input type="text" ngModel="{{editProperty?.postalCode}}" name="postalCode" class="form-control"
                id="postalCode" placeholder="Postal Code">
            </div>
            <div class="form-group">
              <label for="phone">Description Property</label>
              <input type="text" ngModel="{{editProperty?.description}}" name="description" class="form-control"
                id="description" placeholder="Description">
            </div>
            <div class="form-group">
              <label for="phone">Assign Supplier</label>
              <input type="text" ngModel="{{editProperty?.description}}" name="description" class="form-control" id="description"
                placeholder="Description">
            </div>
            <div class="modal-footer">
              <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
              <button (click)="onUpdateProperty(editForm.value)" data-dismiss="modal" class="btn btn-primary">Save
                changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete Modal -->
  <div class="modal fade" id="deletePropertyModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModelLabel">Delete Property</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- <p>Are you sure you want to delete property {{deleteProperty?.address}}?</p> -->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            <!-- <button (click)="onDeleteProperty(deleteProperty?.id)" class="btn btn-danger"
              data-dismiss="modal">Yes</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Notification for properties not found -->
<div *ngIf="properties?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">NO PROPERTIES!</h4>
    <p>No Properties were found.</p>
  </div>
</div>