<app-nav-bar></app-nav-bar> 
<div class="bg-img" style="vertical-align: bottom" >


  <div class="container">
    <img src="../../assets/images/HomeSweetTr.png" width="500"  alt="Home sweet home image">
    <div class="content-center">
      <div>
        <h1>Where Managing Begins</h1>

        <h4>Home Sweet Home... your Property Manager!</h4>
      </div>
      <div>
        <a routerLink="/login"><button class="btn btn-lg btn-primary">LOGIN</button></a>
        <a routerLink="/register"><button class="btn btn-lg btn-primary">REGISTER</button></a>
      </div>
    </div>
  </div>
</div>
