.job-detail {
    border: 1px solid #ececec;
    border-radius: 6px;
    background-color:#fff;
}
.form-button .nice-select {
    width: 100%;
    height: 39px;
    line-height: 37px;
    color: #6b757d;
    margin-bottom: 1rem;
    border: solid 1px #e9e9e9;
}

.resume-user {
    position: relative;
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 66px;
    border-radius: 50px;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #e9e9e9;
    color: #ff4f6c;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    text-align: center;
}

/* table */

.main-box.no-header {
    padding-top: 20px;
}
.main-box {
    background: #FFFFFF;
    -webkit-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -moz-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -o-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -ms-box-shadow: 1px 1px 2px 0 #CCCCCC;
    box-shadow: 1px 1px 2px 0 #CCCCCC;
    margin-bottom: 16px;
    -webikt-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.table a.table-link.danger {
    color: #e74c3c;
}
.label {
    border-radius: 3px;
    font-size: 0.875em;
    font-weight: 600;
}
.user-list tbody td .user-subhead {
    font-size: 0.875em;
    font-style: italic;
}
.user-list tbody td .user-link {
    display: block;
    font-size: 1.25em;
    padding-top: 3px;
    margin-left: 60px;
}
a {
    /* color: #3498db; */
    outline: none!important;
}
.user-list tbody td>img {
    position: relative;
    max-width: 50px;
    float: left;
    margin-right: 15px;
}

.table thead tr th {
    text-transform: uppercase;
    font-size: 0.875em;
}
.table thead tr th {
    border-bottom: 2px solid #e7ebee;
}
.table tbody tr td:first-child {
    font-size: 1.125em;
    font-weight: 300;
}
.table tbody tr td {
    font-size: 0.875em;
    vertical-align: middle;
    border-top: 1px solid #e7ebee;
    padding: 12px 8px;
}
a:hover{
text-decoration:none;
}

/* button */

.login-button {
  margin-top: 20px;
  display: block;
  width: 80%;
  margin: 20px auto;
  border-radius: 50px;
  
}

.scale {
  transform: scale(1.6);
}

.btn-group-lg>.btn, .btn-lg {
  margin: 0.7em;
}

.btn-group-lg>.btn, .btn-lg {
    padding: 0.5rem 1rem;
    width: 31%;
}


/* The navbar */
.topnav {
  overflow: hidden;
  background-color: #0cc0df;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.0125em;
  color: white;
    display: flex;
  box-sizing: border-box;
  padding: 0 16px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  height: 64px;
}

/* Navbar links */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.example-spacer {
  flex: 1 1 auto;
}


.content-center {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: normal;
  /* align-items: center; */
  align-content: normal;
}
.content-center div {
  width: 100%;
  height: 70px;
  margin: 13px;
}

h1 {
  font-size: 31px;
  font-weight: 400;
  line-height: 32px;
  font-family: Roboto, sans-serif;
  letter-spacing: normal;
  margin: 0 0 16px;
  color: #64bdc1;
}
.example-button-row {
  display: grid;
}


/* button */

.login-button {
  margin-top: 20px;
  display: block;
  width: 80%;
  margin: 20px auto;
  border-radius: 50px;
  
}

.scale {
  transform: scale(1.6);
}

.btn-group-lg>.btn, .btn-lg {
  margin: 0.7em;
}