<app-nav-bar></app-nav-bar>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h3 class="text-dark">Welcome Mr. Sushi</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="job-detail mt-2 p-4">
        <div class="row">
          <div class="col-lg-12">
            <div class="resume-user mb-5">
              <i class="mdi mdi-account text-white"></i>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table user-list">
            <thead>
            <tr>
              <th><span>Issue</span></th>
              <th><span>Created</span></th>
              <th class="text-center"><span>Status</span></th>
              <th><span>Description</span></th>
              <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>
                Issue 1
              </td>
              <td>09/09/2023</td>
              <td class="text-center">
                <span class="label label-default">pending</span>
              </td>
              <td>
                Lighting problems in 2th floor
              </td>
            </tr>
            <tr>
              <td>
                Issue 2
              </td>
              <td>09/09/2023</td>
              <td class="text-center">
                <span class="label label-default">pending</span>
              </td>
              <td>
                Lighting problems in 2th floor
              </td>
            </tr>
            <tr>
              <td>
                Issue 3
              </td>
              <td>09/09/2023</td>
              <td class="text-center">
                <span class="label label-default">pending</span>
              </td>
              <td>
                Lighting problems in 2th floor
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h3 class="text-dark mt-5">Add Issue</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="job-detail mt-2 p-4">
        <div class="custom-form">
          <form>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group app-label">
                  <label for="company-name" class="text-muted">Issue</label>
                  <input id="company-name" type="text" class="form-control resume" placeholder="">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group app-label">
                  <label for="date-from" class="text-muted">Date</label>
                  <input id="date-from" type="text" class="form-control resume"
                         placeholder="01-Jan-2018">
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group app-label">
                  <label for="addition-information-1">Description issue</label>
                  <textarea id="addition-information-1" rows="4" class="form-control resume"
                            placeholder=""></textarea>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="text-center">
        <div>
          <a href="index.html" class="btn btn-lg btn-primary">Submit Issue</a>
        </div>
      </div>
    </div>
  </div>
